@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #293256;
  box-sizing: border-box;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(145,142,244);
  background: linear-gradient(180deg, rgba(145,142,244,1) 0%, rgba(98,199,228,1) 100%);
  border-radius: 14px;
  border: 3px solid #fff;
}


@layer base {

  body {
    @apply bg-body bg-[length:300px_300px]  /*bg-gradient-to-r from-[#ECF2F7] to-[#EFF5FA] */ text-primary font-primary /* overflow-x-hidden; */
  }

  .h1 {
    @apply  text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 text-center lg:text-start xl:text-start;
  }

  .section {
    @apply py-12 lg:py-6;
  }

  .section-title {
    @apply text-2xl lg:text-[40px] font-bold leading-normal mb-6
  }
  /* .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  } */
  .btn {
    @apply bg-primary h-[60px] px-7 py-4 rounded-full hover:bg-primary/80 transition flex items-center text-lg font-medium outline-none;
  }

  .gradient__text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#918ef4] to-[#64c3e5]
  }

  .input {
    @apply bg-[#c8cee4] h-[60px] text-primary first-letter:outline-none pl-6 w-full text-[15px] rounded-md focus:outline focus:outline-1 focus:outline-accent;
  }

  .input::placeholder, .textarea::placeholder {
    @apply text-[#919CCA] font-semibold;
  }

  .textarea {
    @apply bg-[#c8cee4] resize-none w-full outline-none p-6 rounded-md h-[200px] focus:outline focus:outline-1 focus:outline-accent;
  }
  
}